<div class="flex h-screen">
  <!-- Sidebar -->
  <aside class="w-64 bg-gray-800 text-white flex flex-col">
      <div class="p-4 text-lg font-bold">Admin Panel</div>
      <nav class="flex-1 px-2 space-y-2">
          <a [routerLink]="'/admin'" class="block px-4 py-2 rounded hover:bg-gray-700">Dashboard</a>
          <a [routerLink]="'/admin/product'" class="block px-4 py-2 rounded hover:bg-gray-700">Sản phẩm</a>
          <a [routerLink]="'/admin/user'" class="block px-4 py-2 rounded hover:bg-gray-700">User</a>
      </nav>
  </aside>
  
  <!-- Main Content -->
  <div class="flex-1 flex flex-col">
      <!-- <header class="bg-white shadow p-4 flex justify-between items-center">
          <h1 class="text-xl font-semibold">Dashboard</h1>
          <div class="bg-gray-200 p-2 rounded-full">User</div>
      </header> -->
      
      <!-- Content Area -->
      <main class="flex-1 p-6">
          <div class="bg-white p-6 rounded shadow">
             <router-outlet></router-outlet>
          </div>
      </main>
  </div>
</div>