<div class="mx-auto bg-white p-6 rounded-lg shadow-md">
  <h2 class="text-2xl font-semibold mb-4">Thêm Sản Phẩm</h2>
  <form (ngSubmit)="handleSubmit()" class="space-y-4">
    <div>
      <label class="block text-gray-700 font-medium mb-1">Tên sản phẩm</label>
      <input
        type="text"
        class="w-full px-4 py-2 border rounded-lg focus:ring focus:ring-blue-300"
        placeholder="Nhập tên sản phẩm"
        name="name"
        [(ngModel)]="product.name"
      />
    </div>

    <div>
      <label class="block text-gray-700 font-medium mb-1">Giá bán</label>
      <input
        type="number"
        class="w-full px-4 py-2 border rounded-lg focus:ring focus:ring-blue-300"
        placeholder="Nhập giá bán"
        name="price"
        [(ngModel)]="product.price"
      />
    </div>

    <div>
      <label class="block text-gray-700 font-medium mb-1">Hình ảnh</label>
      <input
        type="text"
        class="w-full px-4 py-2 border rounded-lg focus:ring focus:ring-blue-300"
        placeholder="Nhập hình ảnh"
        name="image"
        [(ngModel)]="product.image"
      />
    </div>

    <div>
      <label class="block text-gray-700 font-medium mb-1">Trạng thái</label>
      <div class="flex gap-4">
        <label class="flex items-center">
          <input
            type="radio"
            name="status"
            class="mr-2"
            [value]="true"
            name="status"
            [(ngModel)]="product.status"
          />
          Còn hàng
        </label>
        <label class="flex items-center">
          <input
            type="radio"
            name="status"
            class="mr-2"
            [value]="false"
            name="status"
            [(ngModel)]="product.status"
          />
          Hết hàng
        </label>
      </div>
    </div>

    <div>
      <label class="block text-gray-700 font-medium mb-1">Danh mục</label>
      <select
        class="w-full px-4 py-2 border rounded-lg focus:ring focus:ring-blue-300"
        name="category"
        [(ngModel)]="product.category"
      >
        <option value="Laptop">Laptop</option>
        <option value="Mobile">Điện thoại</option>
        <option value="Phụ kiện">Phụ kiện</option>
      </select>
    </div>

    <button
      type="submit"
      class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition"
    >
      Thêm sản phẩm
    </button>
  </form>
</div>
