<h1>Danh sách user</h1>

<table class="table-auto">
  <thead>
    <tr>
      <th class="border">STT</th>
      <th class="border">Họ và tên</th>
      <th class="border">Tuổi</th>
      <th class="border">Email</th>
      <th class="border">Giới tính</th>
      <th class="border">Trạng thái</th>
      <th class="border">Vai trò</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td class="border">{{i+1}}</td>
      <td class="border">{{user.name}}</td>
      <td class="border">{{user.age}}</td>
      <td class="border">{{user.email}}</td>
      <td class="border">{{user.gender}}</td>
      <td class="border">{{user.isActive}}</td>
      <td class="border">{{user.role}}</td>
    </tr>
    
  </tbody>
</table>
