<app-product [name]="myName" [age]="myAge" [products]="products"/>

<!-- <app-todolist></app-todolist> -->

<!-- <app-header></app-header>
<app-user></app-user>
<app-product></app-product> -->


<!-- BTVN: Xây dựng giao diện card thông tin sử tailwind -->
<!-- <div>
  <div>
     <img style="height: 100px;" [src]="data.avatar" [alt]="data.name">
  </div>
  <div>
    <h2 class="text-red-600">Họ và tên: {{data.name}}</h2>
    <h3>Tuổi: {{data.age}}</h3>
    <h4>Mô tả: {{data.description}}</h4>
    <h4>Giới tính: {{data.gender}}</h4>
    <a target="_blank" [href]="data.linkFB">Link FB</a>
  </div>
</div> -->