<!-- <app-header></app-header>

<app-user></app-user> -->

<!-- <app-todolist></app-todolist> -->

<app-product [name]="myName" [age]="myAge"/>







<!-- 
  BTVN: xây dựng giao diện html bằng tailwind
-->

<!-- <div>
  <div>
     <img [src]="data.avatar" [alt]="data.name">
  </div>
  <div>
     <h2 class="text-blue-">Họ và tên: {{data.name}}</h2>
     <h3>Tuổi: {{data.age}}</h3>
     <h3>Giới tính: {{renderGender()}}</h3>
     <h3>Mô tả: {{data.description}}</h3>
     <a target="" [href]="data.linkFB">Add friend</a>
  </div>
</div> -->