<app-product (deleteId)="receiveId($event)" [name]="myName" [age]="myAge" [products]="products"/>

<!-- <app-todolist></app-todolist> -->

<!-- <app-header></app-header>
<app-user></app-user> -->
<!-- 
  BT: Sử dụng tailwind thiết kế giao diện cho card thông tin bên dưới
-->
<!-- <div>
  <div>
    <img style="height: 150px;" [src]="data.avatar" [alt]="data.name">
  </div>
  <div>
     <h2 class="text-red-800">Họ và tên: {{data.name}}</h2>
     <h3>Tuổi: {{data.age}}</h3>
     <h4>Giới tính: {{renderGender()}}</h4>
     <h4>Mô tả: {{data.description}}</h4>
     <a target="_blank" [href]="data.linkFB">Kết bạn</a>
  </div>
</div> -->